@import "./styles/reset.css";
@import "./styles/variables.css";
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #111;
}

.introSection {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.contentSection {
  width: 300px;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

header {
  position: fixed;
  z-index: 2;
  border-radius: 8px;
  overflow: hidden;
  mix-blend-mode: difference;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 3%;
}
header h1 {
  font-family: "ivyPresto";
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
header nav ul li {
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-align: right;
}
header nav ul li a {
  display: block;
  color: #fff;
  font-size: 1.4rem;
}
header nav ul li.active {
  background: #fff;
  color: #111;
}

.con01 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  padding-bottom: 20px;
  font-family: "ivyPresto";
}
.con01::after {
  content: "";
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 9999;
  position: fixed;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
  opacity: 0.15;
  pointer-events: none;
  -webkit-animation: noise 1s steps(2) infinite;
  animation: noise 1s steps(2) infinite;
}
.con01 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.con01 div p {
  font-size: 14rem;
  text-transform: uppercase;
  z-index: 1;
  color: #fff;
}
.con01 div p:first-child {
  text-indent: 1.2rem;
  font-size: 1.4rem;
  letter-spacing: -6px;
}
.con01 video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

main {
  position: relative;
  width: 100%;
  margin-top: 100vh;
  background: #fff;
  z-index: 1;
  color: #111;
}
main section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
main .contentWrapper {
  width: 100%;
  position: relative;
}
main .projectText {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 20px;
}
main .projectText h3 {
  font-size: 4rem;
}
main .projectText p {
  line-height: 1.2rem;
}
main .projectText .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
main .projectText .btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
main .mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
main video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  position: absolute;
  left: 0;
  top: 0;
}
main .con02 {
  background: #fff;
  color: #111;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .con02 > div {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 40%;
}
main .con02 img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
}
main .con02 div {
  position: relative;
  height: 100%;
}
main .con02 div:last-of-type {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}
main .con02 div h3 {
  font-family: "ivyPresto";
  font-size: 14rem;
  width: 100%;
  position: absolute;
  bottom: 3%;
  z-index: 1;
  text-align: center;
}
main .con02 div p {
  padding: 30% 40% 10% 3%;
  font-family: "pretendard";
  line-height: 1.4;
}
main .pinSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main .pinSection section {
  width: 90%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .sectionTitle {
  top: 0;
}
main .sectionTitle .titleText {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6rem;
  text-align: center;
}
main .sectionTitle .titleText p {
  position: relative;
  width: 100%;
}
main .sectionTitle .titleText p:first-child {
  left: -1000%;
}
main .sectionTitle .titleText p:last-child {
  right: -1000%;
}
main .con03 {
  top: 100vh;
  background: sandybrown;
}
main .con04 {
  top: 200vh;
}
main .con05 {
  top: 300vh;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}
.grid div {
  height: 80rem;
  width: calc(50% - 1.5rem);
  border-radius: 4px;
  cursor: pointer;
}
.grid div.simpleParallax {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.grid div.simpleParallax .cloneText {
  position: absolute;
  left: 3%;
  bottom: 3%;
  color: #0c0707;
  width: auto;
  height: auto;
  z-index: 1;
}
.grid div.simpleParallax img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}
.grid div.simpleParallax:hover img {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
.grid div:nth-child(3) {
  width: 100%;
}

footer {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
}
footer p {
  color: #111;
}

@-webkit-keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes noise {
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
            transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes noise {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
            transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
            transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
            transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
            transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
            transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
            transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
            transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
            transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
            transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
            transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
            transform: translate3d(-7rem, 0, 0);
  }
}
@font-face {
  font-family: "ivyPresto";
  src: url("./fonts//ivy-presto-display-light.otf");
}
@font-face {
  font-family: pretendard;
  src: url("./fonts/Pretendard-Regular.otf");
}