@charset "UTF-8";
@import "./styles/reset.css";
@import "./styles/variables.css";
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #111;
  font-family: "Pretendard";
  cursor: none;
}

.introSection {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.contentSection {
  width: 300px;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

header {
  position: fixed;
  z-index: 4;
  border-radius: 8px;
  overflow: hidden;
  mix-blend-mode: difference;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 3%;
}
header h1 {
  font-family: "ivyPresto";
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
header nav ul li {
  width: 100%;
  text-align: center;
  text-align: right;
}
header nav ul li a {
  display: block;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}
header nav ul li.active {
  background: #fff;
  color: #111;
}

.con01 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  -webkit-filter: brightness(1);
          filter: brightness(1);
  padding-bottom: 20px;
  font-family: "ivyPresto";
  z-index: 3;
  text-wrap: balance;
  aspect-ratio: 14/1;
}
.con01::after {
  content: "";
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  z-index: 9999;
  position: fixed;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
  opacity: 0.15;
  pointer-events: none;
  -webkit-animation: noise 1s steps(2) infinite;
  animation: noise 1s steps(2) infinite;
}
.con01 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.con01 div p {
  font-size: 10vw;
  text-transform: uppercase;
  z-index: 1;
  color: #fff;
  white-space: nowrap;
}
.con01 div p:first-child {
  font-size: 2rem;
}
.con01 video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

main {
  position: relative;
  width: 100%;
  margin-top: 100vh;
  background: #fff;
  z-index: 3;
  color: #111;
  overflow: hidden;
}
main section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
main .contentWrapper {
  width: 100%;
  position: relative;
}
main .projectText {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 10px;
}
main .projectText h3 {
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 10px;
}
main .projectText p {
  line-height: 1.4rem;
  color: #bbbbbb;
  font-size: 1.4rem;
}
main .projectText p:first-of-type > span {
  color: #fff;
  font-weight: bold;
}
main .projectText .hashtag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  font-size: 1.4rem;
  gap: 10px;
  color: #747474;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .projectText .hashtag span {
  white-space: nowrap;
}
main .projectText .hashtag span span {
  color: greenyellow;
  margin-right: 2px;
}
main .projectText .btnWrap {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
main .projectText .btnWrap p {
  padding: 8px 14px;
  backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main .projectText .btnWrap p a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
main .projectText .btnWrap p:hover {
  background: #fff;
}
main .projectText .btnWrap p:hover a {
  color: #111 !important;
}
main .mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
main video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  position: absolute;
  left: 0;
  top: 0;
}
main .con02 {
  background: #fff;
  color: #111;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .con02 > div {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 40%;
}
main .con02 img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
}
main .con02 div {
  position: relative;
  height: 100%;
}
main .con02 div:last-of-type {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}
main .con02 div h3 {
  font-family: "ivyPresto";
  font-size: 10rem;
  width: 100%;
  position: absolute;
  bottom: 3%;
  z-index: 1;
  text-align: center;
  font-weight: normal;
}
main .con02 div p {
  padding: 30% 38% 10% 3%;
  font-family: "pretendard";
  line-height: 1.4;
}
main .sectionTitle {
  top: 0;
  font-family: "ivyPresto";
}
main .sectionTitle .titleText {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6rem;
  text-align: center;
}
main .sectionTitle .titleText p {
  position: relative;
  width: 100%;
}
main .sectionTitle .titleText p:first-child {
  left: -1000%;
}
main .sectionTitle .titleText p:last-child {
  right: -1000%;
}
main .pinSection {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}
main .pinSection section {
  width: 90%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main .pinSection section .projectText p {
  line-height: 1.2;
}
main .con03 {
  top: 0;
}
main .con04 {
  background: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/b5b7f4ab-9b9a-4c77-0c49-0470578f9b00/w=1024,h=1280") center/cover no-repeat;
  top: 100vh;
}
main .con05 {
  background: url("https://imagedelivery.net/djfufN1Ft6CV8Emdrip5jA/96791176-b71d-4e3e-c33a-43a727073d00/w=1024,h=1536") center/cover no-repeat;
  top: 200vh;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
}
.grid div {
  height: 80vh;
  width: calc(50% - 1.5rem);
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.8rem;
  position: relative;
}
.grid div .cloneText {
  z-index: 1;
  position: absolute;
  left: 3%;
  bottom: 3%;
  color: #fff;
  width: auto;
  height: auto;
  text-transform: uppercase;
}
.grid div .cloneText::after {
  display: none;
}
.grid div .cloneText02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  z-index: 1;
  position: absolute;
  left: 3%;
  top: 3%;
  color: #fff;
  width: auto;
  height: auto;
  text-transform: uppercase;
}
.grid div .cloneText02 p {
  padding: 5px;
  background: #111;
  border-radius: 4px;
  font-size: 1.2rem;
}
.grid div .cloneText02::after {
  display: none;
}
.grid div:hover::after {
  opacity: 1;
}
.grid div::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.grid div.simpleParallax {
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.grid div.simpleParallax img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}
.grid div:nth-child(3) {
  width: calc(100% - 2rem);
}
.grid div:nth-child(3) .cloneText,
.grid div:nth-child(3) .cloneText02 {
  left: 1.5%;
}

footer {
  text-align: center;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1;
  padding: 100px 3% 0;
  text-wrap: balance;
  aspect-ratio: 10/1;
}
footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer div p {
  white-space: nowrap;
  font-size: 13.7vw;
}
footer ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  padding: 10px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
footer ul li:nth-child(2) {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes noise {
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
            transform: translate3d(-7rem, 0, 0);
  }
}
@keyframes noise {
  0% {
    -webkit-transform: translate3d(0, 9rem, 0);
            transform: translate3d(0, 9rem, 0);
  }
  10% {
    -webkit-transform: translate3d(-1rem, -4rem, 0);
            transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    -webkit-transform: translate3d(-8rem, 2rem, 0);
            transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    -webkit-transform: translate3d(9rem, -9rem, 0);
            transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    -webkit-transform: translate3d(-2rem, 7rem, 0);
            transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    -webkit-transform: translate3d(-9rem, -4rem, 0);
            transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    -webkit-transform: translate3d(2rem, 6rem, 0);
            transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    -webkit-transform: translate3d(7rem, -8rem, 0);
            transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    -webkit-transform: translate3d(-9rem, 1rem, 0);
            transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    -webkit-transform: translate3d(6rem, -5rem, 0);
            transform: translate3d(6rem, -5rem, 0);
  }
  to {
    -webkit-transform: translate3d(-7rem, 0, 0);
            transform: translate3d(-7rem, 0, 0);
  }
}
@font-face {
  font-family: "ivyPresto";
  src: url("./fonts//ivy-presto-display-light.otf");
}
@font-face {
  font-family: pretendard;
  src: url("./fonts/Pretendard-Regular.otf");
}
@media screen and (max-width: 1024px) {
  main .con02 div h3 {
    font-size: 8rem;
  }
  .grid div {
    height: 50rem;
  }
  footer {
    height: 40vh;
  }
  footer div p {
    font-size: 13.4vw;
  }
}
@media screen and (max-width: 767px) {
  main .projectText {
    max-width: 400px;
    gap: 14px;
  }
  main .projectText .hashtag {
    gap: 8px;
  }
  main .pinSection section .projectText p {
    line-height: 1.3;
  }
  main .con02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  main .con02 > div {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
  }
  main .con02 img {
    position: absolute;
    width: 40%;
    height: 45%;
    bottom: 0;
    right: 10%;
    left: auto;
  }
  main .con02 div {
    position: absolute;
  }
  main .con02 div:last-of-type {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  main .con02 div h3 {
    font-size: 6rem;
    position: static;
    bottom: auto;
  }
  main .con02 div p {
    padding: 0;
    width: 60%;
    padding-left: 3%;
    padding-top: 10%;
  }
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  .grid div {
    width: 100%;
    height: 40rem;
  }
  .grid div.simpleParallax:nth-child(3) {
    width: 100%;
  }
  footer {
    height: 35vh;
  }
  footer ul {
    border: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.2rem;
    font-size: 1.4rem;
  }
  footer ul li:nth-child(2) {
    position: static;
    -webkit-transform: none;
            transform: none;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.pointed {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  will-change: transform;
  mix-blend-mode: difference;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
}
.pointed.active {
  -webkit-transform: scale(4);
          transform: scale(4); /* 커짐 */
  border-color: yellow;
}